.page {
    position: relative;

    background: linear-gradient(hsl(200, 82%, 11%) 0%, hsl(200, 82%, 25%) 100%);
}

.page__menu {
    z-index: 1;

    background: #052433;
}

.page__main {
    position: relative;

    padding-bottom:  8rem;

    background: #fff;
}

.page__aside {
    height: 3rem;

    padding: 0.5rem 1rem;

    background: #052433;
}

.page__content {
    padding: 15px 0;

    background: #fff;
}

.page__foot {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;

    transform: translateX(-50%);
}

@media (min-width: 1000px) {
    .page__main {
        padding-bottom: 10rem;
    }

    .page__menu {
        mask-image: linear-gradient(to bottom, #000 90%, rgba(0, 0, 0, 0));
        background: none;
    }

    .page__aside {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        height: 4rem;
    }

    .page:not(.page-index) .page__foot {
        bottom: 4rem;
    }
}

@media (min-width: 80rem) {
    .page__main {
        padding-bottom: 7rem;
    }

    .page__aside {
        display: block;

        padding: 0 2rem;

        background: none;
    }

    .page:not(.page-index) .page__foot {
        bottom: 0;

        height: 5em;
    }
}
