<script>(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})(window,document,'script','//mc.yandex.ru/metrika/tag.js','ym');ym(108333304,'init',{referrer:document.referrer,url:location.href,accurateTrackBounce:true,trackLinks:true});ym(110358021,'init',{referrer:document.referrer,url:location.href});</script>
<noscript class=metrika><img src="//mc.yandex.ru/watch/108333304" alt=""><img src="//mc.yandex.ru/watch/110358021" alt=""></noscript>
