.page-index {
    display: flex;

    width: 100%;
    height: 100%;

    background: radial-gradient(circle, #0b5174, #052433);
}

.page-index .page__foot {
    color: rgba(255, 255, 255, 0.7);
}

.page-index .page__foot {
    position: static;

    height: 100%;

    transform: translateX(-1rem);
}

@media (min-width: 1000px) {
    .page-index .page__foot {
        position: absolute;
        bottom: 50px;

        height: auto;

        transform: translateX(calc(-50% - 1.3rem));
    }
}
