.page-index {
    display: flex;

    width: 100%;
    height: 100%;

    background: radial-gradient(circle, #0b5174, #052433);
}

.page-index .page__foot {
    color: rgba(255, 255, 255, 0.7);
}

.page-index .page__foot {
    position: static;

    transform: translateX(-1rem);
}
