.video {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 4px;
    margin: 1rem 0;
}

.video__iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Support for markdown-it-video plugin classes */
.embed-responsive {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 4px;
    margin: 1rem 0;
}

.embed-responsive-item,
.youtube-player {
    width: 100%;
    height: 100%;
    border: none;
}