.index-footer {
    padding: 2rem 1.5rem;

    text-align: center;

    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.index-footer__tg {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.3rem;
    text-decoration: none;
}

.index-footer__tg-icon {
    width: 1.5em;
    height: 1.5em;
}
