<div class="aside page__aside">
    <section class="section aside__services">
        <a class="section__head section__link link-nav" href="/help"
            >Услуги</a>

        <ul class="section__body">
            <li class="section__item">
                <a class="section__link link-nav" href="/help/software"><span class="aside__short">Приложения</span><span class="aside__long">Установка приложений</span></a>
            </li>
            <li class="section__item">
                <a class="section__link link-nav" href="/help/firmware"><span class="aside__short">Прошивка</span><span class="aside__long">Обновление прошивки</span></a>
            </li>
            <li class="section__item">
                <a class="section__link link-nav" href="/help/sim"><span class="aside__short">SIM</span><span class="aside__long">Впайка <span style="white-space:nowrap">SIM-карты</span></span></a>
            </li>
            <li class="section__item">
                <a class="section__link link-nav" href="/help/ma"><span class="aside__short">MA</span><span class="aside__long">Мастер-аккаунт</span></a>
            </li>
            <li class="section__item">
                <a class="section__link link-nav" href="/partners/goodbro"><span class="aside__short">Страхование</span><span class="aside__long">Страхование с кэшбэком</span></a>
            </li>
        </ul>
    </section>

    <section class="section aside__partners">
        <a class="section__head section__link link-nav" href="/partners"
            >Партнёры</a>

        <div class="partner-lovto">
            <a class="partner-lovto__link" href="/partners/lovto"
                aria-label="Партнёр Lovto"></a>
            <video class="partner-lovto__player" src="{{ page.videoLovto }}" muted autoplay playsinline></video>
            <div class="partner-lovto__overlay">
                <div class="partner-lovto__text partner-lovto__text_mobile">
                    <strong class="partner-lovto__title">Оклейка VOYAH FREE в Москве и СПб</strong>
                </div>
                <div class="partner-lovto__text partner-lovto__text_tablet">
                    <strong class="partner-lovto__title">Оклейка VOYAH FREE в Москве и СПб</strong>
                    <span class="partner-lovto__sub">Антигравийная, глянцевая, матовая, сатиновая плёнки. Более 150 цветов.</span>
                </div>
                <div class="partner-lovto__text partner-lovto__text_desktop">
                    <strong class="partner-lovto__title">Оклейка<br>Voyah Free<br>в Москве и СПб</strong>
                    <div class="partner-lovto__sub">Антигравийная, глянцевая, матовая, сатиновая плёнки.<span class="partner-lovto__colors">Более 150 цветов</span></div>
                </div>
            </div>
        </div>
    </section>
</div>
