<div class="aside page__aside">
    <section class="section">
        <a class="section__head section__link link-nav" href="/help"
            >Услуги</a>

        <ul class="section__body">
            <li class="section__item">
                <a class="section__link link-nav" href="/help/software"><span class="aside__short">Приложения</span><span class="aside__long">Установка приложений</span></a>
            </li>
            <li class="section__item">
                <a class="section__link link-nav" href="/help/firmware"><span class="aside__short">Прошивка</span><span class="aside__long">Обновление прошивки</span></a>
            </li>
            <li class="section__item">
                <a class="section__link link-nav" href="/help/sim"><span class="aside__short">SIM</span><span class="aside__long">Впайка <span style="white-space:nowrap">SIM-карты</span></span></a>
            </li>
            <li class="section__item">
                <a class="section__link link-nav" href="/help/ma"><span class="aside__short">MA</span><span class="aside__long">Мастер-аккаунт</span></a>
            </li>
        </ul>
    </section>

    <section class="section">
        <a class="section__head section__link link-nav" href="/partners"
            >Партнёры</a>

        <div class="aside__video video">
            <a class="aside__video-link" href="/partners/lovto"
                aria-label="Партнёр Lovto"></a>
            <video class="aside__video-player" src="{{ page.videoLovto }}" muted autoplay loop playsinline></video>
        </div>
    </section>
</div>
